.btn {
  cursor: pointer;
  color: #FFF;
  font-weight: 700;
  padding: 0.75rem 1.2rem;
  display: inline-block;
}

.btn2 {
  background-color: #be8bd4;
  display: inline-block;
  font-size: 0.8rem;
  color: #FFF;
  padding: 0.85rem 2.13rem;
  border-radius: 10px;
  border: 0;
  transition: 0.2s ease-out;
  text-transform: uppercase;
  text-decoration: none;
}

.btn2:hover,
.btn2:active {
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 10px 10px 0 rgb(243, 193, 236);
  cursor: pointer;
}

.modal:link,
.modal:visited {
  text-decoration: none;
  transition: all 0.3s ease;
}

.modal:hover,
.modal:active {
  background-color: #be8bd4;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.site-footer {
  position: absolute;
  padding: 10px;
  left: 0px;
  bottom: 3rem;
  height: 8.5rem;
  width: 100%;
  background: #efcaed;
}
.site-footer__text {
  display: block;
  margin-bottom: 1rem;
  font-weight: 200;
  text-align: center;
  color: #fff;
}

.footer-copyright {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #be8bd4;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .container--1,
.container .container--2,
.container .container--3 {
  margin: 9px 50px;
}

.fa {
  color: #fff;
}

.pink {
  background-image: url("/images/main-pic.jpg");
  background-size: cover;
  /* Adjust this property as needed */
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(220, 173, 240, 0.3);
  height: 100vh;
  padding: 2rem;
}

.pretty-sky {
  height: 700px;
  background-size: contain;
  background-image: url("images/pretty-sky.jpg");
  display: grid;
  justify-content: center;
  align-items: center;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  /* Enable scrolling for content */
}

.main-text {
  display: grid;
  justify-items: center;
}

.headerColor {
  color: #be8bd4;
  font-size: 150%;
  font-weight: 500;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.font-bold {
  letter-spacing: 2px;
}
.font-bold__main {
  color: #e66eec;
  font-size: 150%;
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: absolute;
  background-color: rgba(220, 173, 240, 0.3);
  box-shadow: 0 10px 10px 0 #cfb4e0;
  width: 100%;
  display: grid;
  justify-content: end;
}
.navbar .button-wrapper {
  margin-right: 100px;
}
