.entrance {
    height: 600px;
    background-size: cover;
    background-image: url("images/entrance.jpg");
    display: grid;
    justify-content: center;
    align-items: center;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    /* Enable scrolling for content */
}

.main-text {
    display: grid;
    justify-items: center;
    margin-left: 16px;
}

.headerColor {
    color: $dark-purple-font;
    font-size: 150%;
    font-weight: 500;
}

.hr-light {
    border-top: 3px solid $main-white-font;
    width: 80px;

}

.hr-light-2 {
    border-top: 0.5px solid $dark-purple-font;
}

.font-bold {
    letter-spacing: 2px;

    &__main {
        color: $dark-purple-font;
        font-size: 140%;
        font-weight: 500;
    }
}