.site-footer {
    position: absolute;
    padding: 10px;
    left: 0px;
    bottom: 3rem;
    height: 8.5rem;
    width: 100%;
    background: #efcaed;

    &__text {
        display: block;
        margin-bottom: 1rem;
        font-weight: 200;
        text-align: center;
        color: #fff;
    }
}

.footer {
    text-align: center;
    background-color: $mainLavender;
    padding-top: 4.5rem;
    box-shadow: 0 0 40px rgb(241, 171, 219);
}

.footer-links {
    display: flex;
    gap: 3rem;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    cursor: pointer;
}


.footer-copyright {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: $mainPurple;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
}

.footer-copyright-2 {
    text-align: center;
    color: $mainWhite;
    background-color: $mainPurple;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 0 40px rgb(223, 158, 241);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .container--1,
    .container--2,
    .container--3 {
        margin: 9px 50px;

    }
}

.fa {
    color: #fff;
}

.social {
    margin-top: -3.5rem;
    color: $mainWhite;
    font-size: 1.3rem;
}