.pink {
    background-image: url('/images/main-pic.jpg');
    background-size: cover;
    /* Adjust this property as needed */
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(220, 173, 240, 0.3);
    height: 100vh;
    padding: 2rem;
}