.pretty-sky {
    height: 700px;
    background-size: contain;
    background-image: url("images/pretty-sky.jpg");
    display: grid;
    justify-content: center;
    align-items: center;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    /* Enable scrolling for content */
}

.main-text {
    display: grid;
    justify-items: center;
}

.headerColor {
    color: $mainPurple;
    font-size: 150%;
    font-weight: 500;
}

.hr-light {
    border-top: 3px solid $mainWhite;
    width: 80px;

}

.hr-light-2 {
    border-top: 0.5px solid $mainGrey;
}

.font-bold {
    letter-spacing: 2px;

    &__main {
        color: $mainPink;
        font-size: 150%;
        font-weight: 500;
    }
}