.pretty-sky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    /* Enable scrolling for content */
}

.main-text {
    position: relative;
    margin: 0 auto;
    /* Center horizontally */
    padding: 2rem;
    /* Add padding for better readability */
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-transform: uppercase;

}

.headerColor {
    color: $mainPurple;
    font-size: 150%;
    font-weight: 500;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;

}

.font-bold {
    letter-spacing: 2px;

    &__main {
        color: $mainPink;
        font-size: 150%;
        font-weight: 500;
    }
}