html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: $mainLavender;
}

.navbar {
    position: absolute;
    background-color: $mainLavender;
    box-shadow: 0 10px 10px 0 #cfb4e0;
    width: 100%;
    display: grid;
    justify-content: end;

    .button-wrapper {
        margin-right: 100px;
    }
}