$mainPurple: #be8bd4;
$mainPink: #e66eec;
$dark-purple-font: #754C87;
$main-gold-background: #D4C3A1;
$mainGrey: gray;
$main-white-font: #fff;
$main-white-background: #fffbfb;

$grid-image-size: 350px;